body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    width: 80%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #4a90e2;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}

li.completed {
    color: #b4b4b4;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #e94e77;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    right: 0;
    opacity: 0;
    pointer-events: none; /* This makes it so that the button can't be clicked when invisible */
    transform: translateY(5px);
}

li:hover button {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

button:hover {
    background-color: #d83367;
}

/* Add a transition effect for the tasks */
li {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
